---
title: Top Ten Reasons to Check Out GitLab's Virtual Commit
author: Jim Riley
author_gitlab: GitLab.com username @jrileyinva
author_twitter: Twitter username or gitlab @jrileyinva
categories: unfiltered
image_title: '/images/blogimages/gitlab-values-cover.png'
description: An overview of GitLab's Virtual Commit and the content available specific to public sector.
tags: devops, devsecops, security, public sector
---
 
{::options parse_block_html="true" /}
<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}
 
This year the GitLab crew stepped away from everything they knew about creating an amazing, winning conference and reworked the Commit vision to better fit in line with the needs of our changed world. The result was an incredible digital experience. Commit transformed into a 24-hour full conference program filled with practical DevOps strategies shared by leaders in development, operations, and security. Why 24-hours? GitLab has customers, partners and contacts all across the globe and the Commit team saw the virtual environment as an opportunity to make certain everyone had access to all the exciting, featured content and our GitLab team in real time.
 
GitLab customers and partners shared real world examples of how GitLab is helping their organizations innovate, survive, and succeed @ speed. [Login](https://gitlabcommitvirtual.com/) to view the top ten presentations that showcase how Public Sector is leading digital transformation through GitLab.
 
 - Nicolas Chaillan, Chief Software Officer, US Air Force, United States Air Force and his keynote talk  “DevSecOps in Government and Highly Regulated Industries” 
 - How The U.S. Army Cyber School Created ‘Courseware-as-Code’ With GitLab 
 - Deployment & Adoption of GitLab in Government 
 - DevSecOps At The Brazilian Federal Public Ministry...Exclusively With Open Source Tools 
 - DevOps 101: Getting to Minimal Viable 'DevOpsness' 
 - Scaling DevOps at the NSA 
 - Accelerating Speed to Mission Through Low-to-High Cross Domain Collaboration 
 - Enabling the Tactical Edge Through DevSecOps in a Box 
 - Cloud-Native Security: Processes And Tools To Protect Modern Applications 
 - DevOps 101: Getting to Minimal Viable 'DevOpsness 
 
After absorbing the presentations shared at Commit, if you’re finding you’d like to dive a little deeper and explore a bit more, [reach out to us](https://about.gitlab.com/company/contact/) and we’ll be happy to connect with you and keep the conversation going!
 
To learn more about GitLab Public Sector, please visit: https://about.gitlab.com/solutions/public-sector/
