---
title: Auto DevOps
description: Auto DevOps eliminates the complexities of software delivery by allowing you to automatically build, test, deploy & monitor using CI/CD best practices and tools
canonical_path: "/stages-devops-lifecycle/auto-devops/"
suppress_header: true
extra_css:
  - auto-devops.css
manual_cookiebot: true
---
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .flex-container.flex-column.justify-center.align-center
    = image_tag "/images/icons/auto-devops.svg", class: "hero-image-large", alt: "Gitlab auto devops icon svg"
    %h1 What is Auto DevOps?
    %p Commit your code and GitLab does the rest. No manual configuration.
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn accent"
.content-container
  .autodevops-animation-container
    %video.autodevops-animation{ loop: "", autoplay: "", playsinline: "", muted: ""}
      %source{:src => "/video/autodevops-animation/autodevops-animation.mp4", :type => "video/mp4"}
      %source{:src => "/video/autodevops-animation/autodevops-animation.ogv", :type => "video/ogv"}
      %source{:src => "/video/autodevops-animation/autodevops-animation.webm", :type => "video/webm"}
      Your browser does not support the video tag.
  .content.tile
    %p GitLab #{link_to('Auto DevOps', '/direction/configure/auto_devops/')} eliminates the complexities of software delivery by automatically setting up the pipeline and integrations, which allows teams to focus on business productivity. With Auto DevOps, developers can skip the manual work of configuration, such as security auditing and vulnerability testing, and focus on software creation.

    %p Auto DevOps simplifies and accelerates delivery with a complete delivery pipeline out of the box. Commit code and GitLab does the rest. With Auto DevOps, you can expect to:

    %ul
      %li Detect the language of the code
      %li Automatically build, test, and measure code quality
      %li Scan for potential vulnerabilities, security flaws, and licensing issues
      %li Monitor in real-time
      %li Deploy the application

    %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/topics/autodevops/" } Read the docs

  .content.prereqs.full-width
    %h1.text-center Set up Auto DevOps
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        = image_tag "/images/autodevops/signup.png", class: "prereq-image full-width", alt: "Gitlab signup png"
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Get on board
        %p Sign up for free and test out all the features that GitLab has to offer.
        = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn accent"
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        = image_tag "/images/autodevops/license.png", class: "prereq-image full-width", alt: "Gitlab license png"
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Grab a license
        %p Install your license and connect your server.
        = link_to "Get a license", "/pricing/#gitlab-com", class: "btn cta-btn accent"
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        = image_tag "/images/autodevops/cluster.png", class: "prereq-image full-width", alt: "Gitlab cluster png"
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Connect your cluster 
        %p
          :markdown
            Connect GitLab to your Kubernetes cluster. Don't have a cluster? Create one in a few clicks with the [GitLab GKE integration](/solutions/google-cloud-platform/).
        = link_to "How to connect", "/solutions/kubernetes/", class: "btn cta-btn accent"
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        = image_tag "/images/autodevops/runners.png", class: "prereq-image full-width", alt: "Gitlab runners png"
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Install your runners
        %p Install CI runners to get your server going. Kick back, relax, and let Auto DevOps do the work.
        %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/runner/install/" } How to install

    
