---
layout: handbook-page-toc
title: "Ops Quality Engineering team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

Engineers in this team are embedded in the [Ops section].

## Areas of Responsibility

All stages under [Ops section].
* **[Verify stage]**: CI tools, Merge Trains
  * Third-party CI: Jenkins, Bamboo, etc.
* **[Release stage]**: Continuous Delivery, Review Apps, Release Automation, Feature Flags, Pages
* **[Package stage]**: Registry Integration for containers, binaries
* **[Configure stage]**: Application, Infrastructure, Auto DevOps
* **[Monitor stage]**: APM, Logging, Tracking

## Team members

<%= direct_team(manager_role: 'Quality Engineering Manager, Ops') %>

[Ops section]: /handbook/product/product-categories/#ops-section
[Configure stage]: /handbook/product/product-categories/#configure-stage
[Monitor stage]: /handbook/product/product-categories/#monitor-stage
[Verify stage]: /handbook/product/product-categories/#verify-stage
[Release stage]: /handbook/product/product-categories/#release-stage
[Package stage]: /handbook/product/product-categories/#create-stage
